<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pay Insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/insurance-update"> </ion-item>
    <ion-item>
      <ion-label>Make</ion-label>
      {{payment?.vehicle_id}}
    </ion-item>

    <ion-item>
      <ion-label>Insurance Frequency</ion-label>
      {{payment?.freq}}
    </ion-item>

    <ion-item>
      <ion-label>Payment Method</ion-label>
      {{payment?.method}}
    </ion-item>

    <ion-item>
      <ion-label>Insurance Type</ion-label>
      {{payment?.type}}
    </ion-item>
    
    <ion-item>
      <ion-label>Vehicle Type</ion-label>
      {{payment?.Vehicle}}
    </ion-item>

    <ion-item>
      <ion-label>Licence Frequency</ion-label>
      {{payment?.licence}}
    </ion-item>

  </ion-list>
</ion-content>
