<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Insurance Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/insurance-update/{{insurance}}"> </ion-item>
   
    <ion-item>
      <ion-label>Make</ion-label>
      {{insurance?.vehicle_name}}
    </ion-item>

    <ion-item>
      <ion-label>Insurance Frequency</ion-label>
      {{insurance?.freq}}
    </ion-item>

    <ion-item>
      <ion-label>Payment Method</ion-label>
      {{insurance?.method}}
    </ion-item>

    <ion-item>
      <ion-label>Insurance Type</ion-label>
      {{insurance?.type}}
    </ion-item>
    
    <ion-item>
      <ion-label>Vehicle Type</ion-label>
      {{insurance?.Vehicle}}
    </ion-item>

    <ion-item>
      <ion-label>Licence Frequency</ion-label>
      {{insurance?.licence}}
    </ion-item>

  </ion-list>
</ion-content>
