<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input position="floating" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Surname</ion-label>
        <ion-input position="floating" formControlName="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Id Number</ion-label>
        <ion-input position="floating" formControlName="idnumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-datetime position="floating" displayFormat="YYYY-MM-DD" formControlName="year"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input position="floating" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cell</ion-label>
        <ion-input position="floating" formControlName="cell"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-input position="floating" formControlName="address"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button [disabled]="form.invalid" size="block" (click)="onSubmit()">Save</ion-button>
</ion-footer>