<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/vehicle.jpg" alt="">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="dark" routerLink="/insurance-list">

          <ion-card-header class="ion-text-center">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-card-title>Buy Insurance</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="dark" routerLink="/policy-list">
          <ion-card-header class="ion-text-center">
            <ion-icon name="flask-outline"></ion-icon>
            <ion-card-title>View Polices</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="dark" routerLink="/licence-list">
          <ion-card-header class="ion-text-center">
            <ion-icon name="create-outline"></ion-icon>
            <ion-card-title>Get Licence</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="dark" routerLink="/vehicles">
          <ion-card-header class="ion-text-center">
            <ion-icon name="car-outline"></ion-icon>
            <ion-card-title>Vehicles</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>