<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Make payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item-divider>Phone Number</ion-item-divider>
    <ion-item>
      <ion-label>+263</ion-label>
      <ion-input type="number" formControlName="phone" placeholder="Enter Number"></ion-input>
    </ion-item>
  </form>

  <ion-list>
    <ion-item-divider>Payment Details</ion-item-divider>
    <ion-item lines="full"> 
      <ion-label>Amount</ion-label>
      {{amount.value | currency}}
    </ion-item>
    <ion-item lines="full">
      <ion-label>Invoice ID</ion-label>
      {{invoice_id.value}}
    </ion-item>
    <ion-item lines="full">
      <ion-label>Vehicle Name</ion-label>
      {{vehicle_name.value}}
    </ion-item>
    <ion-item lines="full">
      <ion-label>Vehicle ID</ion-label>
      {{vehicle_id.value}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button [disabled]="form.invalid" size="block" (click)="onSubmit()">Confirm</ion-button>
</ion-footer>
