<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buy Insurance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit() " >

  <ion-item-divider>Select Vehicle</ion-item-divider>
  <ion-item>
    <ion-label>Select Vehicle</ion-label>
    <ion-select formControlName= "vehicle_id" cancelText="Cancel" okText="Ok">
   <ion-select-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.make_name}} {{vehicle.model_name}}</ion-select-option>
  
  </ion-select>
  </ion-item>
</form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button size="block" [disabled]="form.invalid" (click)="onSubmit()">Pay {{amount.value | currency}}</ion-button>
</ion-footer>
<!-- <ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit() " >
     
<ion-item-divider>Select Vehicle</ion-item-divider>
<ion-item>
  <ion-label>Select Vehicle</ion-label>
  <ion-select formControlName= "vehicle_id" cancelText="Cancel" okText="Ok">
 <ion-select-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.make_name}} {{vehicle.model_name}}</ion-select-option>

</ion-select>
</ion-item>

<ion-item-divider>Insurance Details</ion-item-divider>
<ion-item>
  <ion-label>Select Insurance Frequency</ion-label>
  <ion-select formControlName= "freq" cancelText="Cancel" okText="Ok">
    <ion-select-option *ngFor="let frequency of frequences">{{frequency.name}}</ion-select-option>
   
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Select Payment Method</ion-label> 
  <ion-select formControlName= "method" cancelText="Cancel" okText="Ok">
    <ion-select-option *ngFor="let method of methods">{{method.name}}</ion-select-option>
   
   
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Insurance Type</ion-label>
  <ion-select formControlName= "type" cancelText="Cancel" okText="Ok">
    <ion-select-option *ngFor="let type of types">{{type.name}}</ion-select-option>
   
  </ion-select>
</ion-item>
<ion-item> 
  <ion-label>Select Vehicle Type</ion-label>
  <ion-select formControlName= "vehicle_use"cancelText="Cancel" okText="Ok" >
    <ion-select-option *ngFor="let vehicleuse of vehicleuses">{{vehicleuse.name}}</ion-select-option>

  </ion-select>
</ion-item>
<ion-item-divider>Insurance Details</ion-item-divider>

<ion-item>
  <ion-label>Select Licence Frequency</ion-label>
  <ion-select formControlName= "licence" cancelText="Cancel" okText="Ok">
    <ion-select-option *ngFor="let licence of licences">{{licence.name}}</ion-select-option>
  </ion-select>
  </ion-item>
</form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button [disabled]="form.invalid" size="block" (click)="onSubmit()" >$ Submit</ion-button>
</ion-footer> -->

